@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

:root{
    --cor01: #6DA5C6;
    --cor02: #09283a;
    --cor03: #134867;
}

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 100vh;
    background: rgb(41, 41, 41)  url(img/background02.jpg) center center no-repeat;
    background-size: cover;
}
/*inicio do cabeçalho*/
header{
    background-color: var(--cor02);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
header > h1{
    font: normal 1.7em 'Permanent Marker', cursive;
}

.navegation{
    text-decoration: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #fff;
    margin-left: 20px;
}
.navegation:hover{
    text-decoration: underline;
}
/*fim do cabeçalho*/

/*inicio do conteúdo principal*/
#container{
    position: absolute;
    background-color: #09283a9f;
    height: 400px;
    width: 400px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #09283a6e;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#container > h2{
    font-family: 'Permanent Marker', cursive;
    color: #fff;
    font-size: 2.3em;
    text-align: center;
    margin-top: 30px;
}

#conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


input{
    margin: 25px;
    height: 25px;
    width: 350px;
    align-items: center;
    background-color: #09283a00;
    border: none;
    border-bottom: solid 1px #fff;
    color: #fff;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

input:hover{
    background-color: #09283a86;
}



#botao{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #fff;
    border: 1px solid;
    width: 100px;
    height: 35px;
    align-items: center;
    margin-left: 38%;
}

#botao:hover{
    background-color: #09283a71;
}
/*fim do conteúdo principal*/


/*inicio do rodapé*/
footer {
    display: flex;
    justify-content: space-around;
    margin-top: 480px;
    padding: 10px;
    border-top: solid 1px var(--cor02);
    
    
}
footer > p{
    color: rgba(255, 255, 255, 0.733);
    font-style: italic;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
/*fim do rodapé*/